# .NET Core build files
bin/
obj/

# Visual Studio files
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.vspscc
*.vssscc
.vscode/
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# NuGet packages
*.nupkg
packages/
*.nuget.props
*.nuget.targets
project.assets.json

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Log files
*.log
logs/

# Test Results
TestResults/

# .NET Scaffolding
ScaffoldingReadMe.txt 