<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ParkingDatabase" 
         connectionString="Host=localhost;Port=5432;Database=parkirdb;Username=postgres;Password=root@rsi;" 
         providerName="Npgsql" />
  </connectionStrings>
  <appSettings>
    <add key="Language" value="id-ID" />
    <add key="ApplicationTitle" value="Modern Parking System" />
    <add key="LogFilePath" value="logs/log-.txt" />
    <add key="LogLevel" value="Information" />
    <add key="LogPath" value="Logs" />
    <add key="ImagePath" value="Images" />
    <add key="XamppPath" value="C:\APLIKASI SAYA\XAMPP\mysql\bin" />
    <add key="UseWebSocket" value="true" />
    <add key="WebSocketUrl" value="ws://localhost:8181" />
    <add key="ParkingServerPath" value="C:\APLIKASI SAYA\19maret\ParkingServer" />
    <add key="Role" value="Admin" />
  </appSettings>
</configuration>
